@import url('https://fonts.googleapis.com/css2?family=Square+Peg&family=Ubuntu&display=swap');


body {
    background-color: #e1dfde !important;
}


.wrapper {
    background: #E1DFDE !important;
}

#logo {
    font-size: 16px;
}

.col-4 {
    line-height: 1 !important;
    height: 700px;
}

h1 {
    color: #000000;
    font-family: 'Ubuntu';
    font-size: 12em !important;
    margin-top: 1em !important;
    margin-left: 0.8em;
}

#chesca {
    background-color: #fff;
}

#name {
    font-size: 3em;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-weight: bold;
    margin-left: 3.5em;
    width: 1000px;
}

.homepage-info {
    font-family: 'Ubuntu' !important;
    font-size: 35px !important;
}

a {
    transition: all 200ms ease-in-out;   
}

a:hover {
    color: #fff !important;
}
.line {
    text-align: center;
}


.about {
    height: 800px;
}

.about-right-container {
    font-size: 12em;
    margin-top: 1.5em  !important;
}

#about-info {
    font-family: 'Ubuntu';
    font-size: 20px !important;
    margin-top: 15em;
    text-align: left;
    display: block;
    margin-left: 50px;
    width: 600px;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.projects {
    font-size: 12em;
}

.card-group {
    margin-bottom:5em;
}