@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Quicksand&display=swap');
body {
    background-color: #f1ede7 !important;
}

.title {
    font-size: 3rem;
    color: #000000;
    font-family: 'Noto Sans JP';
    font-weight: 600;
    margin-top: 2em;
}

#chesca {
    text-decoration: underline;
}

#info {
    font-family: 'Quicksand';
    width: 600px;
    margin: auto;
    font-size: 15px;
    margin-top: 1em;
}

.projects {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.

.card-img-top {
    font-family: 'Noto Sans JP';
    font-weight: 400;
}

.card-text {
    font-family: Quicksand;
}
